---
import logo from "../assets/logo.svg";
---

<footer class="docs-footer">
  <div class="foot-brand">
    <img src={logo.src} width={22} height={22} alt="" />
    <span>Substrate · a FINOS project</span>
  </div>
  <div class="foot-links">
    <a href="https://github.com/AttilaMihaly/morphir-substrate">GitHub</a>
    <a href="/docs/specs/language/">Spec</a>
    <a href="/docs/specs/tools/cli/">CLI</a>
    <a
      href="https://github.com/AttilaMihaly/morphir-substrate/blob/main/LICENSE"
      >License</a
    >
  </div>
</footer>
