[submodule "ecosystem/morphir-rust"]
	path = ecosystem/morphir-rust
	url = https://github.com/finos/morphir-rust.git
[submodule "ecosystem/morphir-examples"]
	path = ecosystem/morphir-examples
	url = https://github.com/finos/morphir-examples.git
[submodule "ecosystem/morphir-moonbit"]
	path = ecosystem/morphir-moonbit
	url = https://github.com/finos/morphir-moonbit.git
[submodule "ecosystem/morphir-elm"]
	path = ecosystem/morphir-elm
	url = https://github.com/finos/morphir-elm.git
	branch = remixed
