elm-stuff
node_modules
dist
.vscode
.idea
.metals/
morphir-ir.json
morphir-hashes.json
morphir-test-coverage.json
generated/
out/
redistributable/Scala
cli/web/insightapp.js
cli/treeStuff.js
cli/index.html
cli2/lib/
lib/geneated
cadl-Frontend/cadl-output
Morphir.Elm.CLI.js
Morphir.Elm.Generator.js
docs.json
/.coverage/
tests-integration/reference-model/Dockerfile

.scala-build/
