table.tree-view {
}

tr.tree-view {
}

td.tree-view {
}

td.tree-view-selected-node {
  background-color: #8899FF;
}

td.tree-view-indentation {
  width: 10px;
}

td.tree-view-bullet-expanded {
  background: url(TriangleArrow-Down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1em;
}

label.tree-view-bullet-expanded {
  opacity: 0;
}

td.tree-view-bullet-collapsed {
  background: url(TriangleArrow-Right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1em;
}

label.tree-view-bullet-collapsed {
  opacity: 0;
}

td.tree-view-bullet-leaf {
  background: url(WhiteDot.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1em;
}

#navigableTreeContent {
  width: 100vw;
  height: 500px;
  overflow: auto;
}
