table.tree-view {
<!--      background-color: blue;-->
    }

    tr.tree-view {
<!--      background-color: green;-->
    }

    td.tree-view {
      padding: 4px;
      font-size: 1.5em;
<!--      background-color: red;-->
    }

    td.tree-view-selected-node {
      background-color: #8899FF;
    }

    td.tree-view-indentation {
      width: 10px;
    }

    td.tree-view-bullet-expanded {
      background: url(https://img.icons8.com/material-outlined/24/000000/minus-sign.png);
      transform: rotate(180deg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 1em;
    }

    label.tree-view-bullet-expanded {
      opacity: 0;
      padding-left: 6px;
      cursor: pointer;
    }

    td.tree-view-bullet-collapsed {
      background: url(https://img.icons8.com/material-outlined/24/000000/plus--v1.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 1em;
    }

    label.tree-view-bullet-collapsed {
      opacity: 0;
      padding-left: 6px;
      cursor: pointer;
    }

    td.tree-view-bullet-leaf {
      background: url(https://img.icons8.com/material/24/000000/sort-right--v1.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 1em;
    }

    #navigableTreeContent {
      width: 100vw;
      height: 500px;
      overflow: auto;
    }
